body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5em;
}

.header-css {
    /*styling from UMSI website*/
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
    margin: 0;
    padding: 1.5em;
}

.header-top img {
    width: 100%;
    height: 100%;
    align-items: center;
}

.skip a {
    position: absolute;
    top: -65px;
}

.skip a:focus-visible {
    position: absolute;
    top: 25px;
}

.header-css h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    background-color: #FFCB05;
    padding-bottom: 7px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    /* always 3 columns */
    gap: 10px;
    padding: 5px;
}

footer {
    /*styling from UMSI website*/
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: 13px solid #FFCB05;
    font-size: 16px;
    line-height: 24px;
    padding: 3em 0;
}

footer h3 {
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #2F65A7;
    font-weight: bold;
}

/*.youtube-grid-item {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}*/

.nav-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-grid ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-grid li {
    background-color: #2F65A7;
    border: #e0e0e0;
    padding: 10px 12px;
    margin: 10px 0;
    font-size: 1rem;
}

.nav-grid li.active {
    background-color: #00274C;
}

.nav-grid a {
    color: white;
    text-decoration: none;
}

.nav-grid a.active {
    color: #FFCB05;
    font-weight: bold;
    text-decoration: none;
}

.nav-grid a:hover {
    color: #FFCB05;
    text-decoration: none;
    font-weight: bold;
}

.grid-item {
    display: grid;
    grid-column: 1/span 3;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
    overflow: hidden;
}

.grid-item h2 {
    font-size: 28px;
    line-height: 32px;
    text-underline-offset: 5px;
    color: #00274C;
    font-family: helvetica;
}

.grid-item p {
    text-align: left;
    padding: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.grid-item a {
    font-weight: bold;
}

.image-grid-item {
    width: 300px;
    height: 200px;
    padding: 10px;
    vertical-align: middle;
    border-radius: 8px;
    overflow: hidden;
}

.list-style {
    padding: 10px 12px;
    margin: 15px 0;
    font-size: 1rem;
    list-style: none;
    background-color: #00274C;
    color: #eee;
}

.list-style a,
strong {
    color: #FFCB05;
    font-weight: bold;
}


.inner-grid-item {
    display: grid;
    background-color: #fff;
    margin: 10px 0px;
    grid-column: 1/span 3;
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    border-radius: 8px;
    overflow: hidden;
}

.inner-grid-item h3 {
    font-size: 20px;
    font-style: bold;
    line-height: 32px;
    text-decoration: underline #FFCB05 3px;
    text-underline-offset: 5px;
}

.inner-grid-item li {
    padding: 10px 12px;
    margin: 15px 0;
    font-size: 1rem;
    list-style: none;
}

.button-flex {
    display: flex;
    flex-direction: column;
    /* make children go in one row */
    justify-content: center;
    /* center the buttons */
    gap: 15px;
    /* spacing between buttons */
    flex-wrap: nowrap;
}

.button-flex-2 {
    display: flex;
    flex-direction: row;
    /* make children go in one row */
    justify-content: center;
    /* center the buttons */
    gap: 15px;
    /* spacing between buttons */
    flex-wrap: nowrap;
}

button {
    background-color: #00274C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 2px;
    padding: 15px 24px;
    cursor: pointer;
}

details {
    margin-bottom: 10px;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
}

summary {
    padding: 15px;
    background-color: #2F65A7;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    list-style: none;
    /* Removes default arrow in some browsers */
}

summary::marker {
    /* For browsers that still show the default marker */
    display: none;
}

details[open] summary {
    background-color: #e0e0e0;
    color: #000;
}

details p {
    padding: 10px 15px;
    border-top: 1px solid #eee;
}