body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.header-css {
    /*styling from UMSI website*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    padding: 1.5em;
}

.header-top img {
    width: 100%;
    height: 100%;
    align-items: center;
}

.skip a {
    position: absolute;
    top: -65px;
}

.skip a:focus-visible {
    position: absolute;
    top: 25px;
}

.image-overflow {
    align-items: center;
    display: grid;
    grid-column: 2 / 5;
}

h1 {
    text-align: center;
    font-size: 30px;
    line-height: normal;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 7px;
    text-decoration: underline #FFCB05 4px;
    text-underline-offset: 7px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* always 5 columns */
    padding: 10px;
}

ul,
ol {
    display: grid;
    grid-column: 2/span 3;
}

.inner-grid-item {
    display: grid;
    grid-column: 1/-1
}

footer {
    /*styling from UMSI website*/
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: 13px solid #FFCB05;
    font-size: 16px;
    line-height: 24px;
    padding: 3em 0;
}

footer h3 {
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #2F65A7;
    font-weight: bold;
}

/*.youtube-grid-item {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}*/

.nav-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-grid ul {
    list-style: none;
    padding: 0 25px;
    margin: 0;
}

.nav-grid ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-grid li {
    border: #e0e0e0;
    padding: 10px 12px;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 1rem;
}

/* .nav-grid li.active {
    background-color: #00274C;
} */

.nav-grid a {
    color: white;
    font-size: small;
    background-color: #2F65A7;
    padding: 10px 12px;
    border-radius: 8px;
    margin: 10px 0;
    text-decoration: none;
}

.nav-grid a.active {
    background-color: #00274C;
    color: #FFCB05;
    font-weight: bold;
    text-decoration: none;
}

.nav-grid a:hover {
    color: #FFCB05;
    text-decoration: none;
    font-weight: bold;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1/-1;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
    overflow: hidden;
}

.grid-item h2 {
    grid-column: 1 / -1;
    padding: 10px;
    font-size: 28px;
    line-height: 32px;
    text-underline-offset: 5px;
    color: #00274C;
    font-family: helvetica;
}

.grid-item p {
    grid-column: 1/-1;
    text-align: center;
    padding: 10px;
}

.grid-item a {
    font-weight: bold;
}

.image-grid-item {
    width: 80%;
    height: 90%;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.list-style {
    padding: 10px 12px;
    grid-column: 2/span 3;
    margin: 15px 0;
    font-size: 1rem;
    list-style: none;
    background-color: #00274C;
    color: #eee;
}

.list-style a,
strong {
    color: #FFCB05;
    font-weight: bold;
}


.inner-grid-item {
    background-color: #FFCB05;
    color: #000;
    width: 40%;
    margin: 10px 0px;
    padding: 5px 10px;
    text-align: left;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #8e8e8e;
    overflow: hidden;
    align-items: center;
}

.inner-grid-item ul {
    display: grid;
    grid-column: 1/-1;
}

.inner-grid-item h3 {
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    text-decoration: underline #FFCB05 3px;
    text-underline-offset: 5px;
}

.inner-grid-item p {
    text-align: left;
}

.inner-grid-item li {
    padding: 10px 12px;
    margin: 10px 0;
    font-size: 1rem;
    list-style: none;
}

.button-flex {
    display: flex;
    flex-direction: column;
    /* make children go in one row */
    justify-content: center;
    /* center the buttons */
    gap: 15px;
    /* spacing between buttons */
    flex-wrap: nowrap;
}

.button-flex-2 {
    display: flex;
    flex-direction: row;
    /* make children go in one row */
    justify-content: center;
    /* center the buttons */
    gap: 15px;
    /* spacing between buttons */
    flex-wrap: nowrap;
}

button {
    background-color: #00274C;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 2px;
    padding: 15px 24px;
    cursor: pointer;
}

details {
    margin-bottom: 10px;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
}

summary {
    padding: 15px;
    background-color: #2F65A7;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    list-style: none;
    /* Removes default arrow in some browsers */
}

summary::marker {
    /* For browsers that still show the default marker */
    display: none;
}

details[open] summary {
    background-color: #e0e0e0;
    color: #000;
}

details p {
    padding: 10px 15px;
    border-top: 1px solid #eee;
}

.no-background {
    background-color: transparent;
    border: 0;
}

@media screen and (min-width: 1000px) {
    .header-css {
        display: flex;
        flex-direction: row;
    }

    .header-css img {
        width: 60%;
        height: 60%;
        align-items: center;
    }

    .nav-grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 10px;
    }

    .nav-grid a {
        color: #000;
        background-color: transparent;
        font-weight: bold;
    }

    .container-grid {
        display: flex;
        flex-direction: column;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .inner-grid-item {
        padding: 20px;
    }

    .inner-grid-item ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
    }

    .flexed {
        display: flex;
        align-items: stretch;
        flex-direction: row;
        justify-content: space-evenly;
    }

    ul,
    ol {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: stretch;
    }

    li {
        text-align: left;
        list-style: none;
    }

    footer a {
        text-align: center;
    }

    .image-overflow {
        display: flex;
        flex-direction: row-reverse;
    }
}